
  <!-- NAV START -->
  <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <header class="mb-8 flex items-center justify-between py-4 md:mb-12 md:py-8 xl:mb-16">
        <!-- logo - start -->
        <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl" aria-label="logo">
          <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <!-- image path : "static/assets/brain-icon.svg"-->
            <image href="static/assets/brain-icon.svg" width="95" height="94" />
          </svg>
  
          Neuralnsight
        </a>
        <!-- logo - end -->
  
        <!-- nav - start -->
        <nav class="hidden gap-12 lg:flex">
          <a href="/" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Home</a>
          <a href="/model" class="text-lg font-semibold text-indigo-500">Model</a>
          <a href="/#specs" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Specs</a>
          <a href="/#about" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
        </nav>
        <!-- nav - end -->

        
        <!-- buttons - start -->
        <a href="/#contact" class="hidden rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block">Contact</a>

        <button id="dropdownDefaultButton" data-bs-target="dropdown" aria-expanded="true" data-dropdown-toggle="dropdown" 
        class="lg:hidden text-gray-500 bg-gray-200 hover:text-gray-700 focus:ring-4 focus:outline-none 
        focus:text-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
        inline-flex items-center dark:text-gray-500 dark:hover:text-gray-500 dark:focus:text-gray-700" 
        type="button">
        
          Menu 
          <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Home</a>
            </li>
            <li>
              <a href="/model" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Model</a>
            </li>
            <li>
              <a href="/#specs" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Specifications</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/arsh03/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" target="_blank">Contact</a>
            </li>
          </ul>
        </div>
        <!-- buttons - end -->
      
      
      
      
      </header>
    </div>
 </div>